@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
<<<<<<< HEAD

    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Righteous", cursive;
      min-height: 100vh;
      background-color: #a9c9ff;
      background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
    }

    .container {
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 35px;
      margin: 0 auto;
      padding: 40px 0;
    }

    .card {
      position: relative;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #000;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }

    .card .face {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card .face.face1 {
      box-sizing: border-box;
      padding: 20px;
    }

    .card .face.face1 h2 {
      margin: 0;
      padding: 0;
    }

    .card .face.face1 .java {
      background-color: #fffc00;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .card .face.face1 .python {
      background-color: #00fffc;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .card .face.face1 .cSharp {
      background-color: #0fe91aa6;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .card .face.face2 {
      transition: 0.5s;
    }

    .card .face.face2 h2 {
      margin: 0;
      padding: 0;
      font-size: 10em;
      color: #fff;
      transition: 0.5s;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }

    .card:hover .face.face2 {
      height: 60px;
    }

    .card:hover .face.face2 h2 {
      font-size: 2em;
    }

    .card:nth-child(1) .face.face2 {
      background-image: linear-gradient(40deg, #fffc00 0%, #0cb80c 45%, #00fffc 100%);
      border-radius: 15px;
    }

    .card:nth-child(2) .face.face2 {
      background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #ff00ea 100%);
      border-radius: 15px;
    }

    .card:nth-child(3) .face.face2 {
      background-image: linear-gradient(40deg, #00fffc 0%, #073321 45%, #fffc00 100%);
      border-radius: 15px;
    }

    footer {
=======
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
body .container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
body .container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
body .container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
body .container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}
body .container .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .card .face.face1 .cSharp {
  background-color: #0fe91aa6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .card .face.face2 {
  transition: 0.5s;
}
body .container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
body .container .card:hover .face.face2 {
  height: 60px;
}
body .container .card:hover .face.face2 h2 {
  font-size: 2em;
}
body .container .card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #fffc00 0%, #0cb80c 45%, #00fffc 100%);
  border-radius: 15px;
}
body .container .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #ff00ea 100%);
  border-radius: 15px;
}
body .container .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #00fffc 0%, #073321 45%, #fffc00 100%);
  border-radius: 15px;
}
 footer {
>>>>>>> 1553e6da21fc0785dbbb80abf800fc2007c67cbb
      width: 100%;
      text-align: center;
      padding: 20px;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 203px;
      /* Adds margin from the top */
    }

    footer p {
      color: black;
      font-size: 18px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    footer a {
      color: black;
      text-decoration: underline;
      margin: 0 10px;
      font-size: 16px;
    }

    footer a.linkedin {
      display: block;
      margin-top: 10px;
      font-size: 18px;
      color: darkblue;
      font-weight: bold;
<<<<<<< HEAD
    }
=======
    }
>>>>>>> 1553e6da21fc0785dbbb80abf800fc2007c67cbb
